.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.filter__lable {
  font-size: 40px;
  font-family: BebasNeue, sans-serif;
  font-weight: var(--font-weight-bold);
}

.accordion {
  width: 100%;
  margin-top: 10px;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin-bottom: 10px;
  margin-right: 5px;
}

.button__clear {
  font-family: BebasNeue, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 25px;
}
.accordion__header {
  font-family: BebasNeue, sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: 25px;
}
