@import-normalize;
@import "./Assets/fonts.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: PTSans, BebasNeue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

body > #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
